* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000000; /* Sayfa arkaplan rengi siyah */
  color: #ffffff; /* Yazı rengi beyaz */
  overflow: hidden; /* Sayfanın kenarlarındaki kaydırmayı kapatma */
}

/* ---------------- Sol Üst Logo ---------------- */

.site-logo {
  display: flex;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

.site-logo svg {
  width: 8em; /* Görsel genişliği */
  height: auto; /* Otomatik yükseklik */
  margin-right: 1em; /* Görseller arası boşluk */
  transition: all 0.3s ease-out; /* Geçiş efekteri */
}

.site-logo svg:hover {
  transform: scale(1.03); /* Hafifçe büyütme */
}

/* ---------------- Sosyal Medya Hesapları ---------------- */

.top-right-social {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column; /* Sosyal ikonları alt alta sırala */
}

.social-link {
  text-decoration: none;
  margin-bottom: 8px;
}

.social-icon {
  width: 18px; /* Icon boyutları */
  height: 18px;
  object-fit: contain; /* Görseli orantılı bir şekilde sığdır */
  transition: transform 0.3s ease; /* İmleç üzerine geldiğinde büyüme efekti */
}

.social-link:hover .social-icon {
  filter: brightness(1.2) drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)); /* Işıltı ve parıltı */
  transform: scale(1.1); /* İmleç üzerine geldiğinde büyüme oranı */
}

/* ---------------- 404 Yazısı ---------------- */

.header-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > span {
  font-family: "Maelstrom Sans";
  font-size: 40vw;
  position: relative;
  background: #000000; /* Başlık arkaplan rengi beyaz */
  color: #ffffff; /* Başlık yazı rengi siyah */
}

.footer {
  position: fixed;
  bottom: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer span {
  position: relative;
  top: 30px;
  text-decoration: none;
  font-family: "Space Grotesk", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #ffffff; /* Altbilgi yazı rengi beyaz */
  transition: 1s;
  
}

.footer span a {
  color: #ffffff; /* İstenilen renk kodu */
  text-decoration: none; /* Link altını çizme stilini kapatma */
}

.footer-wrapper:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 110%;
  height: 100%;
  background: #000000; /* Altbilgi arkaplan rengi siyah */
  margin: 0 auto;
  transition: 1s;
}
